<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script defer src="{% static 'face-api.min.js' %}"></script>
  <script defer src="{% static 'script.js' %}"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    canvas {
      position: absolute;
    }
  </style>
</head>
<body>

  <video id="video" width="720px" height="560px" autoplay muted></video>

  <H1> Input the Symptoms</H1>


  <form action="/predictDisease" method="POST" style="margin:100px 200px;">


    <div class="form-group">
      <b><label for="exampleFormControlSelect1">Select Symptom 1 </label></b>
      <select class="form-control" name="symp1">
          <option value="" selected>Select the symptom </option>
          {% for symptom in  symptoms %}
          <option value="{{ symptom }}">{{ symptom }}</option>
          {% endfor %}
      </select><br>
  </div>  

  
  <div class="form-group">
    <b><label for="exampleFormControlSelect1">Select Symptom 1 </label></b>
    <select class="form-control" name="symp1">
        <option value="" selected>Select the symptom </option>
        {% for symptom in  symptoms %}
        <option value="{{ symptom }}">{{ symptom }}</option>
        {% endfor %}
    </select><br>
</div>  


<div class="form-group">
  <b><label for="exampleFormControlSelect1">Select Symptom 2 </label></b>
  <select class="form-control" name="symp2">
      <option value="" selected>Select the symptom </option>
      {% for symptom in  symptoms %}
      <option value="{{ symptom }}">{{ symptom }}</option>
      {% endfor %}
  </select><br>
</div>  


<div class="form-group">
  <b><label for="exampleFormControlSelect1">Select Symptom 3 </label></b>
  <select class="form-control" name="symp3">
      <option value="" selected>Select the symptom </option>
      {% for symptom in  symptoms %}
      <option value="{{ symptom }}">{{ symptom }}</option>
      {% endfor %}
  </select><br>
</div>  


<div class="form-group">
  <b><label for="exampleFormControlSelect1">Select Symptom 4 </label></b>
  <select class="form-control" name="symp4">
      <option value="" selected>Select the symptom </option>
      {% for symptom in  symptoms %}
      <option value="{{ symptom }}">{{ symptom }}</option>
      {% endfor %}
  </select><br>
</div>  


<div class="form-group">
  <b><label for="exampleFormControlSelect1">Select Symptom 5 </label></b>
  <select class="form-control" name="symp5">
      <option value="" selected>Select the symptom </option>
      {% for symptom in  symptoms %}
      <option value="{{ symptom }}">{{ symptom }}</option>
      {% endfor %}
  </select><br>
</div>  
  
  
  <button type="submit" class="btn btn-primary">Submit</button>


</form>

</body>
</html>